
// New Layout Section
#main-card {
    display:flex;
    flex-direction: row;
    // align-items: flex-start;
    min-height: 600px;
    max-height: 600px;
    min-width: 1100px;
    max-width: 1300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

// Level 1

#search-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    #search-slot {
        height: 50%;
    }
    #dex-summary-slot {
        height: 50%;
    }
}

#profile-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    display: flex;
    flex-direction: column;
    #name-slot {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 6px;
    }
    #sprite-slot {
        height: 40%;
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;  
        box-sizing: border-box;
    }
    #ability-slot{
        height: 20%;
        display: flex;
        padding: 6px;
        justify-content: center;   
        box-sizing: border-box;
        #ability-container {
            line-height: 1.1;
            text-align: center;
            height: fit-content;
        }
    }
    #type-slot {
        height: 15%;
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;   
        box-sizing: border-box;
    }
    #search2-slot {
        display: flex;
        align-items: center;
        justify-content: center;   
        height: 15%;
    }
}

#stat-col {
    // width: 40%;
    // flex-grow: 2;
    flex:2;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    #chart-slot {
        height: 60%;
    }
    #evolutions-slot {
        height: 20%;
        padding: 0px;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        .evolution-chart{
            height:95%;
            max-height: 95%;    
            width: fit-content;
            max-width: 646px;
            background-color: rgb(25, 24, 26);
            border-radius: 10px;
            padding: 10px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            text-align: center;
            line-height: 1.1;
            box-sizing: border-box;
            .evo-list{
                height: 65%;
                width: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
    #notes-slot {
        height: 20%;
    }
}

#moves-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    #move-table {
        max-height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        #LvlTMSelector{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 5px;
        }
        .move-list{
            overflow-y: auto;
            scrollbar-width: none;
            width: 100%;
            max-height: 100%;
            .left-table{
                border-right: 1px solid rgb(167, 163, 168);
                padding-right: 5px;
                padding-left: 25px;
                text-align: right;
            }
            .right-table{
                padding-left: 25px;
            }
        }
        .move-list::-webkit-scrollbar {
            width: 0px;        /* Chrome/Safari */
        }
        .move-list:hover {
            scrollbar-width: thin;             /* Firefox */
        }

        /* Chrome-like browsers */
        .move-list:hover::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;     /* Matches container */
        }
    }
}


#background {
    //background-color: rgb(92, 92, 207);
    // border: solid;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    min-width: 600px;
    overflow: auto;
    // *{
    //     overflow: auto;
    // }
} 
// #backgound:after {
//     clear: both;
// }

.left {
    width: 50%;
    float: left;
    // border: 2px solid green;
    
}

.sprite {
    width: 40%;
    position: relative;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green
}

.right {
    width:50%;
    float: right;
    // border: 2px solid red;

    
}

.stat-graph{
    width: 60%;
    height: 385px;
    // border: 2px solid green
}

.sprite-background {
    display: flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    // padding-top: 50px;
    border-radius: 30%;
    background-color: rgb(25, 24, 26);
    // position: relative;
    // overflow:
}



#stat-chart {
    background-color: rgb(25, 24, 26);
    border-radius: 10px;
    margin: 5px;
    max-height: 300px;
    max-width: 600px;
}

.search-box {
    // margin-left: 15px;
    // margin-top: 5px;
    // margin-bottom: 2px;
    // max-width: 200px;
    border-radius: 10px;
    padding-left: 12px;
    width: 100%;
    // border: 2px solid darkviolet;
    background-color: rgb(25, 24, 26);
    // background-color: ghostwhite;
    display: block;
}

.type-box {
    width: 64px;
    height: auto;
    max-height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;

    
}

#type-container {
    // margin-top: 5px;
    // width: fit-content;
    // background-color: rgb(25, 24, 26);
    // // border: 2px solid rgb(167, 163, 168);
    // border-radius: 10px;
    // padding: 15px;

    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.reveal-button {
    width: fit-content;
    margin-top: 15px;
}

#notes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 100%;
    // border: 2px solid green;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notes-section {
    resize: none;
    color:rgb(218, 210, 226);
    background-color: rgb(25, 24, 26);
    border: none;
    width: 100%;
    // margin: 5px;
}

#ability-parent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;
}

.ability-collection {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.ability-panel {
    background-color: rgb(25, 24, 26);
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}

.tabSelected {
    text-decoration: underline;
    font-weight: bold;
    pointer-events: none;
}

.tabUnselected{
    text-decoration: none;
    font-weight: normal;
    pointer-events: auto;
}
