
// New Layout Section
#main-card {
    display:flex;
    flex-direction: row;
    // align-items: flex-start;
    min-height: 600px;
    min-width: 1100px;
    max-width: 1300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

// Level 1

#search-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    #search-slot {
        height: 50%;
    }
    #dex-summary-slot {
        height: 50%;
    }
}

#profile-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    display: flex;
    flex-direction: column;
    #name-slot {
        height: 10%;
    }
    #sprite-slot {
        height: 30%;
        display: flex;
        justify-content: center;
    }
    #type-slot {
        height: 10%;
    }
    #notes-slot {
        flex-grow: 1;
    }
}

#stat-col {
    // width: 40%;
    // flex-grow: 2;
    flex:2;
    display: flex;
    flex-direction: column;
    #title-slot {
        height: 10%;
    }
    #chart-slot {
        flex-grow: 1;
    }
    #total-ability-slot {
        height: 10%;
        display: flex;
        flex-direction: row;
        #total-slot {
            width: 30%;
        }
        #ability-slot {
            flex-grow: 1;
        }
    }
    #evolutions-slot {
        height: 20%;
    }
}

#moves-col {
    // width: 20%;
    // flex-grow: 1;
    flex:1;
    display: flex;
    flex-direction: column;
    #move-title-slot {
        height: 10%;
    }
    #tables-slot {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        #level-moves-slot {
            width: 50%;
        }
        #tm-moves-slot {
            width: 50%;
        }
    }
}


#background {
    //background-color: rgb(92, 92, 207);
    // border: solid;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    min-width: 600px;
    overflow: auto;
    // *{
    //     overflow: auto;
    // }
} 
// #backgound:after {
//     clear: both;
// }

.left {
    width: 50%;
    float: left;
    // border: 2px solid green;
    
}

.sprite {
    width: 40%;
    position: relative;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green
}

.right {
    width:50%;
    float: right;
    // border: 2px solid red;

    
}

.stat-graph{
    width: 60%;
    height: 385px;
    // border: 2px solid green
}

.sprite-background {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
    // padding-top: 50px;
    border-radius: 75px 75px 75px 75px;
    background-color: rgb(25, 24, 26);
    // position: relative;
    // overflow:
}



#stat-chart {
    background-color: rgb(25, 24, 26);
    border-radius: 10px;
    margin: 5px;
    max-height: 300px;
    max-width: 600px;
}

.search-box {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    max-width: 200px;
    width: 80%;
    // border: 2px solid darkviolet;
    // background-color: ghostwhite;
    display: block;
}

.type-box {
    width: 64px;
    height: auto;
    max-height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;

    
}

#type-container {
    // margin-top: 5px;
    // width: fit-content;
    // background-color: rgb(25, 24, 26);
    // // border: 2px solid rgb(167, 163, 168);
    // border-radius: 10px;
    // padding: 15px;

    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 #name-box {
    margin-top: 10px;
    width: fit-content;
    background-color: rgb(25, 24, 26);
    // border: 2px solid rgb(167, 163, 168);
    border-radius: 10px;
    padding: 15px;
 }

.reveal-button {
    width: fit-content;
    margin-top: 15px;
}

#notes-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 2px solid green;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notes-section {
    resize: none;
    color:rgb(218, 210, 226);
    background-color: rgb(25, 24, 26);
    width: 100%;
    // margin: 5px;
}

#ability-parent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;
}

.ability-collection {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.ability-panel {
    background-color: rgb(25, 24, 26);
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}

