<div id="main-card" class="wireframe" *ngIf="dex.validDexUploaded">


    
    <div id="profile-col" class="wireframe">
        <div id="name-slot" class="wireframe">
            <div class="element-container" *ngIf="mon_selected">
                {{current_mon?current_mon.name:"N/A"}}
            </div>
        </div>
        <div id="sprite-slot" class="wireframe">
            <div class="sprite-background">
                <img *ngIf="mon_selected" style="height: 100%;"  src="assets/images/sprites/{{current_mon!.sanitizedName()}}.png">
            </div>
        </div>
        <div id="type-slot" class="wireframe">
            <div class="element-container">
                <div id="type-container" *ngIf="mon_selected" style="cursor: pointer;" (click)="toggleTypeRevealButton()">
                    <img class="type-box"  src="https://serebii.net/pokedex-bw/type/{{current_mon!.get_type1()}}.gif">
                    <img class="type-box" *ngIf="(current_mon!.get_type2() != 'none')" src="https://serebii.net/pokedex-bw/type/{{current_mon!.get_type2()}}.gif">
                </div>
                <div id="type-container" *ngIf="!mon_selected">
                    <img class="type-box" src="https://serebii.net/pokedex-bw/type/curse.gif" alt="">
                </div>
            </div>
        </div>
        <div id="ability-slot" class="wireframe">
            <div id="ability-container" class="element-container" >
                <b>Abilities</b>
                <hr>
                <div *ngIf="mon_selected" (click)="toggleAbilityRevealButton()" style="cursor: pointer;">{{current_mon!.getAbilitiesIfRevealed().join(' | ')}}</div>
                <div *ngIf="!mon_selected">--</div>
            </div>
        </div>

        <div id="search2-slot" class="wireframe">
            <form>
                <mat-form-field class="search-box" >
                    <input #searchInput type="text" placeholder="Search For Pokemon" aria-label="Number" matInput [formControl]="ctrl"
                        [matAutocomplete]="mm">
                    <mat-autocomplete autoActiveFirstOption #mm="matAutocomplete" >
                        <mat-option *ngFor="let poke of pokes_filtered_by_text | async" [value]="poke">
                            {{ poke }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>

    <div id="stat-col" class="wireframe">
        <div id="chart-slot" class="wireframe" (click)="chartClicked($event)">
            <div id="chart-wrapper">
                <canvas id="stat-chart" #statChart width="600px" height="300px">
    
                </canvas>       
                <div id="stat-chart-overlay" *ngIf="mon_selected && !(current_mon!.stats_revealed || current_mon!.bst_revealed || current_mon!.fully_revealed)" >
                    <span class="overlay-text">Click Hidden Data to Reveal</span>
                </div>     
            </div>
            <!-- <div class="reveal-button" *ngIf="mon_selected">
                <button id="stat-reveal" [disabled]="dex.isFullyRevealed" (click)="toggleStatRevealButton()">{{current_mon!.stats_revealed ? "Hide Stats" : "Show Stats"}}</button>
            </div>
            <div class="reveal-button" *ngIf="!mon_selected">
                <button id="stat-reveal" disabled>Show Stats</button>
            </div> -->
        </div>
        <div id="evolutions-slot" class="wireframe">
            <div class="evolution-chart" *ngIf="mon_selected && current_mon!.prev_evos.length > 0">
                 Evolves From
                 <hr>
                 <div class="evo-list">
                    <img *ngFor="let evo of current_mon!.get_evos_to(); let i = index;" style="height: 100%; cursor: pointer;" (click)="evoClicked(evo, 'prev', i)" src="assets/images/sprites/{{sanitizePokemonName(evo)}}.png"/>
                 </div>
            </div>
            <div  class="evolution-chart" *ngIf="mon_selected && current_mon!.next_evos.length > 0">
                 Evolves To
                 <hr>
                 <div class="evo-list">
                    <img *ngFor="let evo of current_mon!.get_evos_from(); let i = index;" style="height: 100%; cursor: pointer;" (click)="evoClicked(evo, 'next', i)" src="assets/images/sprites/{{sanitizePokemonName(evo)}}.png"/>
                 </div>
            </div>
            <div  class="evolution-chart" *ngIf="mon_selected && current_mon!.forms.length > 0">
                 Alt Forms
                 <hr>
                 <div class="evo-list">
                    <img *ngFor="let form of getFilteredForms(current_mon!); let i = index;" style="height: 100%; cursor: pointer;" (click)="evoClicked(form, 'form', i)" src="assets/images/sprites/{{sanitizePokemonName(form)}}.png"/>
                 </div>
            </div>
        </div>
        <div id="notes-slot" class="wireframe">
            <div id="notes-parent" class="element-container" *ngIf="mon_selected">
                <div id="notes-selector">
                    <div [class.tabSelected]="noteSelector == 'notes'" [class.tabUnselected]="noteSelector !== 'notes'" (click)="toggleNotes('notes')">Notes</div>
                    <div [class.tabSelected]="noteSelector == 'trainers'" [class.tabUnselected]="noteSelector !== 'trainers'" (click)="toggleNotes('trainers')">Trainers</div>
                    <div [class.tabSelected]="noteSelector == 'locations'" [class.tabUnselected]="noteSelector !== 'locations'" (click)="toggleNotes('locations')">Locations</div>
                    <div id="notes-options">
                        <div id="location-options" *ngIf="mon_selected && noteSelector == 'locations'">
                            <div class="note-option">Fishing:<input id="fishing-checkbox" type="checkbox" [formControl]="fishingControl"/></div>
                            <div class="note-option">Other:<input id="other-checkbox" type="checkbox" [formControl]="miscLocationsControl"/></div>
                        </div>
                    </div>
                </div>
                <div class="vertical-bar"></div>
                <textarea 
                    name="Notes Textbox" 
                    title="Notes Textbox" 
                    class="notes-section" 
                    *ngIf="mon_selected && noteSelector == 'notes'" 
                    [(ngModel)]="current_mon!.notes"
                    placeholder="Click to add notes..."></textarea>
                <div id="location-parent" *ngIf="mon_selected && noteSelector == 'locations'">
                    <div id="location-section" *ngIf="current_mon!.locations.length > 0; else noLocations"  (click)="locationsClicked()">
                        <div *ngFor="let loc of filterLocations()">
                            {{current_mon!.locations_revealed || dex.isFullyRevealed ? loc : '???'}}
                        </div>
                    </div>
                    <ng-template #noLocations>
                        <div id="no-locations" (click)="locationsClicked()">
                            {{current_mon!.locations_revealed || dex.isFullyRevealed ? "No Locations Found" : "???"}}
                        </div>
                    </ng-template>
                    <div id="location-overlay" *ngIf="!current_mon!.locations_revealed && !dex.isFullyRevealed"  (click)="locationsClicked()">
                        <span class="overlay-text">Click to Reveal Locations</span>
                    </div>
                </div>
                <app-trainer-pokemon-selector style="height: 100%; flex-grow: 1" [hidden]="!current_mon || noteSelector !== 'trainers'" [currentMon]="current_mon!"></app-trainer-pokemon-selector>
            </div>
        </div>
    </div>

    <div id="moves-col" class="wireframe">
        <div id="move-table" *ngIf="mon_selected" class="element-container">
            Moves
            <hr style="flex-grow: 1; width: 100%;">
            <div id="LvlTMSelector">
                <div style="margin-right: 10px;" [class.tabSelected]="!tms_shown" [class.tabUnselected]="tms_shown" (click)="tms_shown && toggleTMs()">Level Up</div>
                <div [class.tabSelected]="tms_shown" [class.tabUnselected]="!tms_shown" (click)="!tms_shown && toggleTMs()">TMs</div>
            </div>
            <div class="move-list">
                <table style="border-collapse: collapse;" *ngIf="!this.tms_shown">
                    <tr *ngFor="let level of current_mon!.learn_levels; let i = index" (click)="revealMovesToIndex(i)">
                        <td class="left-table">{{level}}</td>
                        <td class="right-table">{{current_mon!.get_revealed_learned_move_pairs()[i].move}}</td>
                    </tr>
                </table>
                <table style="border-collapse: collapse;" *ngIf="this.tms_shown">
                    <tr *ngFor="let tm of current_mon!.tms; let i = index" (click)="revealTMAtIndex(i)">
                        <td class="left-table">{{tm}}</td>
                        <td class="right-table">{{dex.revealedTMs.includes(tm) || dex.isFullyRevealed  ?current_mon!.tm_moves[i]:'???'}}</td>
                    </tr>
                </table>
                <div class="default-tm-message" *ngIf="(current_mon!.tms.length == 0) && tms_shown">
                    TM Data Not Found
                </div>
            </div>
        </div>
    </div>
</div>

