<div *ngIf="pokedexService.validDexUploaded">
    <div class="table-header">
        <button class='filterButton openDialogButton' (click)="openFilterTreeDialog()" #filterButton><i class="material-icons">filter_alt</i>Filter List</button>
        Total: {{filteredData.length}}
    </div>
    <ngx-table [configuration]="configuration" [data]="filteredData" [columns]="columns" (event)="eventEmitted($event)" #tableTemplate>
        <ng-template let-row let-index="index">
            <td (click)="rowClick(row.name)">
                <h2>{{ row.name }}</h2>
            </td>
            <td (click)="rowClick(row.name)">
                <h3>{{ row.uid }}</h3>
            </td>
            <td (click)="rowClick(row.name)">
                <span>{{row.checkTypeRevealed() ? row.type1 : "???"}}</span>
            </td>
            <td (click)="rowClick(row.name)">
                <span>{{row.checkTypeRevealed() ? row.type2 : "???"}}</span>
            </td>
            <td (click)="rowClick(row.name)">
                <span>Total: {{ row.checkBSTRevealed()?row.bst():"???" }}</span>
            </td>
            <td *ngFor="let stat of row.special?['hp', 'attack', 'defense', 'special', 'speed']
                        : ['hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']" 
                        (click)="rowClick(row.name)">
                <div class="statsBar">
                    <span class="statsBarFill total" [class]="[stat]" [style.width]="row.get_stat(stat)/2.55+ '%'" aria-valuenow="row.get_stat(stat)"
                    aria-valuemin="0" aria-valuemax="255">
                    </span>
                    <div class='overlayLabel'>
                        <span>
                            {{row.get_stat(stat)?row.get_stat(stat):"???"}}
                        </span>
                    </div>
                </div>
            </td>

        </ng-template>
    </ngx-table>
</div>
<!-- <ng-template #hpTpl let-row let-rowIndex="rowIndex" let-column="column">
    <div>rowIndex: {{ rowIndex }}</div>
</ng-template> -->
  
  