.loading-overlay {
  position: fixed;         /* Stay in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;           /* High enough to be above everything */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* Optional: dim background */
}

.temp-spinner {
  background-color: #19181a;
  padding: 20px;
  border-radius: 10px;
}
