<!-- <h1 mat-dialog-title>Hi</h1> -->
<div mat-dialog-content>
    <query-builder [(ngModel)]="data" [config]="config">
        <!-- <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'">
            <mat-form-field>
              <mat-select [(ngModel)]="rule.value" [placeholder]="field.name">
                <mat-option *ngFor="let opt of options" [value]="opt.value">
                  {{ opt.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container> -->
    </query-builder>
    <!-- <textarea class="output">{{data | json}}</textarea> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div> 
