$selectedTabColor : rgb(156, 156, 156);
$tabColor : rgb(231, 231, 231);
$tabFontColor: rgb(44, 44, 44);
$buttonColor : rgb(37, 167, 37);

.tabs {
    border-bottom: 5px $selectedTabColor solid;
    * {
        margin-bottom: 0px;
    }
    color: $tabFontColor;
    display: flex;
    flex-direction:row;
    align-items: center;
    a.tab {
        background-color: rgb(231, 231, 231);
    
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        // border-radius: 2px;
        font-size: 14px;
        cursor: pointer;
        color: $tabFontColor;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        i.material-icons {
            color: $tabFontColor;
        }
        &:hover {
            background-color: darken($color: $tabColor, $amount: 10);
            font-weight: 300;
        }
        &.selected {
            background-color: $selectedTabColor;
            &:hover {
                background-color: darken($color: $selectedTabColor, $amount: 20);
            }
        }
        &.disabled {
            pointer-events: none;
            cursor: default;
        }
    }
    span {
        margin-left: 5px;
    }

    .tab-file-input {
        height: 0;
        width: 0;
        display: none;
    }

    #spoil-button {
        border-radius: 10px 0px 0px 10px;
    }

    #power-options {
        border-radius: 0px 10px 10px 0px;
        border-left: solid 1px green;
        width: 25px;
        height: 30px;
        padding: 0px;
        margin-left: 0px;
    }





    .tab-button {
        font-family: "Roboto", Arial, sans-serif;
        color: #cfcfcf;
        background-color: $buttonColor;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        font-size: 12px;
        font-weight: bold;
        margin-left: 5px;
        &:hover {
            background-color: darken($color: $buttonColor, $amount: 10);
            // font-weight: 300;
        }
    }
}


