
<div class=tabs>
    <a class="tab" [class.selected]="selectedTab==='summaryTab'" (click)="selectedTab='summaryTab'"><i class="material-icons">wysiwyg</i>Pokemon</a>
    <!-- <a class="disabled tab" [class.selected]="selectedTab==='teamTab'"  (click)="selectedTab='teamTab'"><i class="material-icons">view_module</i>Team Builder</a>
    <a class="disabled tab" [class.selected]="selectedTab==='vsTab'" (click)="selectedTab='vsTab'"><i class="material-icons">compare_arrows</i>Matchup</a> -->
    <span>(More tabs here soon)</span>
    <input class="tab-file-input" type="file"  id="dex-file-input" (change)="onFileSelected($event)" #fileUpload>
    <label class="tab-button" for="dex-file-input">Upload</label>
    <a #downloadButton *ngIf="dex.validDexUploaded" download="mons.pkdx" >
        <button (click)="save()" class="tab-button" id="saveButton" title="Save notes and revealed status of Pokemon">Save</button>
    </a>
    <button class="tab-button" *ngIf="dex.validDexUploaded" (click)="spoil()">{{this.dex.isFullyRevealed?"Unspoil":"Spoil"}}</button>
</div>
<div *ngIf="selectedTab==='summaryTab'">
    <individual-card></individual-card>
</div>
<div *ngIf="selectedTab==='teamTab'">
    <team-builder></team-builder>
</div>
<div *ngIf="selectedTab==='vsTab'">
    <vs-summary></vs-summary>
</div>
