<div>
    <div class=tabs>
        <a class="tab" [class.selected]="selectedTab==='summaryTab'" (click)="selectedTab='summaryTab'"><i class="material-icons">wysiwyg</i>Pokemon</a>
        <a class="tab" [class.selected]="selectedTab==='teamTab'" (click)="selectedTab='teamTab'"><i class="material-icons" style="transform: rotate(90deg)">view_module</i>Team Builder</a>
        <a class="tab" [class.selected]="selectedTab==='vsTab'" (click)="selectedTab='vsTab'"><i class="material-icons">compare_arrows</i>Matchup</a>
        <!-- <h1 class="header-title">Pokedex</h1>
        <span class="header-text">Created by Matthew Christensen and Jennifer Nelson • <a href="https://github.com/matthewlchristensen/randomizer-pokedex"> GitHub</a></span> -->
    </div>
</div>
<div *ngIf="selectedTab==='summaryTab'">
    <individual-card></individual-card>
</div>
<div *ngIf="selectedTab==='teamTab'">
    <team-builder></team-builder>
</div>
<div *ngIf="selectedTab==='vsTab'">
    <vs-summary></vs-summary>
</div>
