<div>
    <div class="header-container">
        <h1 class="header-title">Randomizer Pokedex <span class="header-version">(v2.3.0)</span></h1>
    </div>
    <div class=tabs>
        <a class="tab" routerLink="/home" routerLinkActive="selected"><i class="material-icons">home</i>Home</a>
        <a class="tab" routerLink="/pokedex" routerLinkActive="selected"><img class="pokeball-icon" src='assets/images/pokeball-icon.png' />Pokedex</a>
        <a class="tab" routerLink="/about" routerLinkActive="selected"><i id="help-icon" class="material-icons">help</i>About</a>
        
        <div class="background-toggle">
            Chromakey Background:
             <input type="checkbox" id="background-toggle-input" (click)="toggleBackground()"/>
         </div>
    </div>
</div>