<div>
    <div class=tabs>
        <h1 class="header-title">Pokedex</h1>
        <a class="tab" routerLink="/home" routerLinkActive="selected"><i class="material-icons">home</i>Home</a>
        <a class="tab" routerLink="/pokedex" routerLinkActive="selected"><img class="pokeball-icon" src='../../assets/images/pokeball-icon.png' />Pokedex</a>
        <!-- <span>[{{getRoute()}}]</span> -->
        <span class="header-text">Created by Matthew Christensen and Jennifer Nelson</span>
    </div>
</div>